<template>
  <div class="column is-12">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title has-text-grey">
          {{ title }}
        </p>
      </header>
      <div class="card-content">
        <div class="content has-text-centered">
          {{ question }}
        </div>
      </div>
      <!-- <footer class="card-footer">
        <div class="card-footer-item">
        </div>
      </footer> -->
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    question: {
      type: String,
      required: true
    }
  }
}
</script>
