<template>
  <div>
    <section class="main-content columns">
      <div class="column is-12">
        <nuxt />
      </div>
    </section>
    <footer class="footer">
      <p class="has-text-centered">
        Copyright © 2020 All Rights Reserved MedUp Indonesia
      </p>
    </footer>
  </div>
</template>
<script>
export default {}
</script>
<style>
.footer {
  background-color: #fff;
  padding: 1rem;
}
</style>
