<template>
  <div>
    <nav
      class="navbar header has-shadow"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <nuxt-link to="/" class="navbar-item">
          <b-icon icon="arrow-left" />
        </nuxt-link>
        <span class="navbar-item">
          Biodata
        </span>
      </div>
    </nav>
    <div class="section">
      <div class="columns is-multiline">
        <div class="column is-half is-offset-one-quarter is-full-mobile">
          <p>
            Yuk, isi formulir sebentar, agar kami membantu Anda.
          </p>
          <form @submit.prevent="checkForm">
            <div v-if="errors.length" class="message is-danger">
              <div class="message-body">
                <b>
                  Harap perbaiki kesalahan pengisian form sesuai saran berikut
                  ini:
                </b>
                <ul>
                  <li v-for="(error, index) in errors" :key="index">
                    {{ error }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="field">
              <label class="label">
                Nama Lengkap
              </label>
              <input v-model="identitas.nama" class="input" type="text" />
            </div>

            <div class="field">
              <b-field label="Tanggal Lahir">
                <b-datepicker
                  v-model="selectedDate"
                  placeholder="Klik, untuk memilih tanggal lahir"
                  icon="calendar-today"
                >
                </b-datepicker>
              </b-field>
            </div>
            <div class="field">
              <label class="label">
                Nomor Telp / HP (WhatsApp)
              </label>
              <input v-model="identitas.no_hp" class="input" type="number" />
            </div>
            <div class="field">
              <label class="label">
                Alamat
              </label>
              <input
                v-model="identitas.alamat.alamat"
                class="input"
                type="text"
              />
            </div>
            <div class="field">
              <label class="label">
                Kabupaten/Kota
              </label>
              <div class="control">
                <div
                  class="select is-fullwidth"
                  :class="{ 'is-loading': isDistrictLoading }"
                >
                  <select
                    v-model="identitas.alamat.id_kabupaten"
                    @change="fetchSubdistrict(identitas.alamat.id_kabupaten)"
                  >
                    <option
                      v-for="district in districts"
                      :key="district.id"
                      :value="district.id"
                    >
                      {{ district.nama }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">
                Kecamatan
              </label>
              <div class="control">
                <div
                  class="select is-fullwidth"
                  :class="{ 'is-loading': isSubdistrictLoading }"
                >
                  <select
                    v-model="identitas.alamat.id_kecamatan"
                    @change="fetchSubsubdistrict(identitas.alamat.id_kecamatan)"
                  >
                    <option
                      v-for="subdistrict in subdistricts"
                      :key="subdistrict.id"
                      :value="subdistrict.id"
                    >
                      {{ subdistrict.nama }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">
                Kelurahan
              </label>
              <div class="control">
                <div
                  class="select is-fullwidth"
                  :class="{ 'is-loading': isSubsubdistrictLoading }"
                >
                  <select v-model="identitas.alamat.id_kelurahan">
                    <option
                      v-for="subsubdistrict in subsubdistricts"
                      :key="subsubdistrict.id"
                      :value="subsubdistrict.id"
                    >
                      {{ subsubdistrict.nama }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input
                  class="button is-medium is-fullwidth is-success"
                  type="submit"
                  value="Mulai Deteksi"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data() {
    return {
      identitas: {
        nama: null,
        alamat: {
          alamat: null,
          id_kelurahan: null,
          id_kecamatan: null,
          id_kabupaten: null,
          id_provinsi: 34
        },
        no_hp: null,
        tanggal_lahir: null
      },
      districts: [],
      subdistricts: [],
      subsubdistricts: [],
      isDistrictLoading: false,
      isSubdistrictLoading: false,
      isSubsubdistrictLoading: false,
      errors: [],
      selectedDate: null
    }
  },
  async created() {
    await this.getBiodata()
    await this.fetchDistrict()
  },
  methods: {
    async fetchDistrict() {
      try {
        this.isDistrictLoading = true
        const api =
          'https://cors.medup.id/http://dev.farizdotid.com/api/daerahindonesia/provinsi/34/kabupaten'
        const response = await axios({
          method: 'GET',
          url: api
        })
        this.districts = response.data.kabupatens
        this.isDistrictLoading = false
      } catch (error) {
        this.isDistrictLoading = false
        // eslint-disable-next-line
        console.log(error)
      }
    },
    async fetchSubdistrict(idKabupaten) {
      try {
        this.isSubdistrictLoading = true
        const api =
          'https://cors.medup.id/http://dev.farizdotid.com/api/daerahindonesia/provinsi/kabupaten/' +
          idKabupaten +
          '/kecamatan'
        const response = await axios({
          method: 'GET',
          url: api
        })
        this.subdistricts = response.data.kecamatans
        this.isSubdistrictLoading = false
      } catch (error) {
        this.isSubdistrictLoading = false
        // eslint-disable-next-line
        console.log(error)
      }
    },
    async fetchSubsubdistrict(idKecamatan) {
      try {
        this.isSubsubdistrictLoading = true
        const api =
          'https://cors.medup.id/http://dev.farizdotid.com/api/daerahindonesia/provinsi/kabupaten/kecamatan/' +
          idKecamatan +
          '/desa'
        const response = await axios({
          method: 'GET',
          url: api
        })
        this.subsubdistricts = response.data.desas
        this.isSubsubdistrictLoading = false
      } catch (error) {
        this.isSubsubdistrictLoading = false
        // eslint-disable-next-line
        console.log(error)
      }
    },
    saveBiodata() {
      this.identitas.tanggal_lahir = this.selectedDate
      localStorage.setItem('identitas', JSON.stringify(this.identitas))
      this.$router.push('/questionnaire')
    },
    getBiodata() {
      const lsBiodata = JSON.parse(localStorage.getItem('identitas'))
      if (lsBiodata) {
        this.identitas = lsBiodata
        this.selectedDate = new Date(lsBiodata.tanggal_lahir)
        this.fetchAll()
      }
    },
    async fetchAll() {
      await this.fetchSubdistrict(this.identitas.alamat.id_kabupaten)
      await this.fetchSubsubdistrict(this.identitas.alamat.id_kecamatan)
    },
    checkForm(e) {
      if (
        this.identitas.nama &&
        this.identitas.no_hp &&
        this.identitas.alamat.alamat &&
        this.identitas.alamat.id_kabupaten &&
        this.identitas.alamat.id_kecamatan &&
        this.identitas.alamat.id_kelurahan &&
        this.selectedDate
      ) {
        this.success()
        this.saveBiodata()
      }

      this.errors = []

      if (!this.identitas.nama) {
        this.errors.push('Masukkanlah nama lengkap.')
      }
      if (!this.identitas.no_hp) {
        this.errors.push('Masukkanlah nomor whatsapp aktif.')
      }
      if (!this.identitas.alamat.alamat) {
        this.errors.push('Masukkanlah alamat.')
      }
      if (!this.identitas.alamat.id_kabupaten) {
        this.errors.push('Pilihlah kabupaten/kota.')
      }
      if (!this.identitas.alamat.id_kecamatan) {
        this.errors.push('Pilihlah kecamatan.')
      }
      if (!this.identitas.alamat.id_kelurahan) {
        this.errors.push('Pilihlah kelurahan.')
      }
      if (!this.selectedDate) {
        this.errors.push('Pilihlah tanggal lahir.')
      }

      if (this.errors.length) {
        this.danger()
      }

      e.preventDefault()
    },
    danger() {
      this.$buefy.toast.open({
        duration: 3000,
        message: `Terjadi kesalahan pengisian, lihat saran pengisian di bagian atas`,
        position: 'is-bottom',
        type: 'is-danger'
      })
    },
    success() {
      this.$buefy.toast.open({
        message: 'Pengisian form valid',
        type: 'is-success'
      })
    }
  },
  head() {
    return {
      title:
        'Data Diri - Deteksi Mandiri COVID-19 RS Universitas Islam Indonesia',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Deteksi Mandiri COVID-19 RS Universitas Islam Indonesia'
        }
      ]
    }
  }
}
</script>
