<template>
  <div>
    <nav
      class="navbar header has-shadow hide-when-print"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <nuxt-link to="/summary" class="navbar-item">
          <b-icon icon="arrow-left" />
        </nuxt-link>
        <span class="navbar-item">
          Unduh Hasil Assesment
        </span>
      </div>
    </nav>
    <br />

    <div class="container">
      <table class="table is-bordered is-narrow is-fullwidth" width="100%">
        <thead>
          <tr width="100%">
            <th width="10%" class="has-text-centered" colspan="2">
              <img src="../assets/icon.png" alt="logo rsuii" width="64px" />
            </th>
            <th class="has-text-centered" colspan="10">
              FORMULIR SKRINING AWAL <br />
              KESIAPSIAGAAN COVID-19 <br />
              RS. UNIVERSITAS ISLAM INDONESIA
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            width="100%"
            style="background: #8eaadb !important; -webkit-print-color-adjust: exact;"
          >
            <th colspan="12">
              IDENTITAS
            </th>
          </tr>
          <tr width="100%">
            <td colspan="12">Nama: {{ summary.data.identitas.nama }}</td>
          </tr>
          <tr>
            <td colspan="12">
              Tanggal lahir:
              {{ summary.data.identitas.tanggal_lahir | formatDate }}
            </td>
          </tr>
          <tr>
            <td colspan="12">
              Alamat: {{ summary.data.identitas.alamat.alamat }}
            </td>
          </tr>
          <tr>
            <td colspan="12">Nomor HP: {{ summary.data.identitas.no_hp }}</td>
          </tr>
          <tr
            style="background: #8eaadb !important; -webkit-print-color-adjust: exact;"
          >
            <th width="100%" colspan="12">
              INFORMASI KLINIS
            </th>
          </tr>
          <tr>
            <td width="100%" colspan="12">
              <span class="has-text-weight-semibold">
                Keluhan Utama:
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <span class="has-text-weight-semibold">Suhu :</span> ..........
              &#8451;
            </td>
            <td colspan="4">
              <span class="has-text-weight-semibold">TD :</span> .......... mmHg
            </td>
            <td colspan="4">
              <span class="has-text-weight-semibold">Nadi :</span> ..........
              x/menit
            </td>
          </tr>
          <tr
            v-for="(symptom, index) in chunkSymptoms"
            :key="index"
            width="100%"
          >
            <td colspan="3" width="30%">
              {{ symptom[0].question }}
            </td>
            <td colspan="3" width="20%">
              <span>
                <span v-if="symptom[0].answer === 'ya'">
                  &#9745;
                </span>
                <span v-if="symptom[0].answer !== 'ya'">
                  &#9744;
                </span>
                Ya
              </span>
              <span>
                <span v-if="symptom[0].answer !== 'ya'">
                  &#9745;
                </span>
                <span v-if="symptom[0].answer === 'ya'">
                  &#9744;
                </span>
                Tidak
              </span>
            </td>
            <td colspan="3" width="30%">
              {{ symptom[1].question }}
            </td>
            <td colspan="3" width="20%">
              <span>
                <span v-if="symptom[0].answer === 'ya'">
                  &#9745;
                </span>
                <span v-if="symptom[0].answer !== 'ya'">
                  &#9744;
                </span>
                Ya
              </span>
              <span>
                <span v-if="symptom[0].answer !== 'ya'">
                  &#9745;
                </span>
                <span v-if="symptom[0].answer === 'ya'">
                  &#9744;
                </span>
                Tidak
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table is-bordered is-narrow is-fullwidth" width="100%">
        <thead></thead>
        <tbody></tbody>
      </table>

      <table class="table is-bordered is-fullwidth" width="100%">
        <thead>
          <tr
            style="background: #8eaadb !important; -webkit-print-color-adjust: exact;"
          >
            <th width="80%">
              FAKTOR RESIKO (Tanyakan dalam 14 hari terakhir)
            </th>
            <th width="10%">Ya</th>
            <th width="10%">Tidak</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(symptom, index) in summary.data.faktor_resiko"
            :key="index"
          >
            <td width="80%">{{ symptom.question }}</td>
            <td width="10%">
              {{ symptom.answer === 'ya' ? '&#10004;' : '' }}
            </td>
            <td width="10%">
              {{ symptom.answer !== 'ya' ? '&#10004;' : '' }}
            </td>
          </tr>
        </tbody>
      </table>
      <p>
        *Jika ada terdapat
        <b>
          minimal satu gejala atau faktor resiko
        </b>
        arahkan pasien ke
        <b>
          Poli Skrining
        </b>
      </p>
    </div>
    <br />

    <div class="columns">
      <div class="column is-4 is-offset-8 has-text-centered">
        Yogyakarta, .... / .... / 2020 <br />
        Petugas Skrining <br />
        <br /><br /><br />
        (.............................................)
      </div>
    </div>

    <div class="columns hide-when-print">
      <div
        class="column  is-half is-offset-one-quarter is-full-mobile hide-when-print"
      >
        <button
          class="button is-success is-medium is-fullwidth hide-when-print"
          @click="backToSummary"
        >
          Kembali ke Kesimpulan
        </button>
        <br />
        <button
          class="button is-medium is-fullwidth is-success is-outlined hide-when-print"
          @click="checkAgain"
        >
          Cek Mandiri Lagi
        </button>
        <br />
        <button
          class="button is-medium is-fullwidth hide-when-print"
          @click="backToHome"
        >
          Kembali ke Beranda
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import dayjs from 'dayjs'
import 'dayjs/locale/id'
import dayjsPluginUTC from 'dayjs-plugin-utc'

dayjs.extend(dayjsPluginUTC)

export default {
  layout: 'download',
  filters: {
    formatDate: (value) => {
      if (!value) {
        return ''
      }
      return dayjs
        .utc(value)
        .locale('id')
        .format('dddd, D MMMM YYYY')
    }
  },
  data() {
    return {
      summary: {}
    }
  },
  computed: {
    chunkSymptoms() {
      const myArray = []
      for (
        let i = 0;
        i < this.summary.data.informasi_klinis.gejala.length;
        i += 2
      ) {
        myArray.push(this.summary.data.informasi_klinis.gejala.slice(i, i + 2))
      }
      return myArray
    }
  },
  created() {
    this.getLsSummary()
  },
  mounted() {
    this.printSummary()
  },
  methods: {
    getLsSummary() {
      this.summary = JSON.parse(localStorage.getItem('summary'))
      if (!this.summary) {
        this.$router.push('/')
      }
    },
    backToHome() {
      localStorage.clear()
      this.$router.push('/')
    },
    backToSummary() {
      this.$router.push('/summary')
    },
    checkAgain() {
      localStorage.clear()
      this.$router.push('/biodata')
    },
    printSummary() {
      window.print()
    }
  },
  head() {
    return {
      title: 'Hasil - Deteksi Mandiri COVID-19 RS Universitas Islam Indonesia',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Deteksi Mandiri COVID-19 RS Universitas Islam Indonesia'
        }
      ]
    }
  }
}
</script>
<style>
.m-20-bottom {
  margin-bottom: 20px;
}

@media print {
  .hide-when-print {
    display: none;
  }
}
.has-background-link {
  background: #8eaadb !important;
}
</style>
