<template>
  <section class="section">
    <div class="columns is-multiline">
      <div class="column is-half is-offset-one-quarter is-full-mobile">
        <img
          src="../assets/logo-rs-uii.png"
          alt="logo rs universitas islam indonesia"
          width="360px"
        />

        <br />
        <br />

        <p>
          Deteksi Mandiri
        </p>
        <h1 class="is-size-3 has-text-danger has-text-weight-bold">
          COVID-19
        </h1>
        <h2 class="is-size-4 has-text-weight-bold">
          RS Universitas Islam Indonesia
        </h2>
        <p class="has-text-justified">
          Harap mengisikan data dengan benar dan jujur. Apabila data yang
          diisikan tidak benar, maka akan diproses sesuai dengan peraturan yang
          berlaku. Layanan ini hanya diperuntukkan bagi pasien yang ingin atau
          sudah pernah periksa di RS Universitas Islam Indonesia. Data yang
          diisikan akan dijaga kerahasiaannya.
        </p>
        <br />
        <nuxt-link
          to="/biodata"
          class="button is-success is-medium is-fullwidth"
        >
          MULAI SEKARANG
        </nuxt-link>
        <br />

        <div class="has-text-centered">
          <p>
            Powered by MedUp
          </p>
          <img src="../assets/logo-medup.png" alt="logo medup" width="78px" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'HomePage',
  data() {
    return {
      head() {
        return {
          title: 'Deteksi Mandiri COVID-19 RS Universitas Islam Indonesia',
          meta: [
            {
              hid: 'description',
              name: 'description',
              content: 'Deteksi Mandiri COVID-19 RS Universitas Islam Indonesia'
            }
          ]
        }
      }
    }
  }
}
</script>
