<template>
  <div>
    <nav
      class="navbar header has-shadow"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <nuxt-link to="/biodata" class="navbar-item">
          <b-icon icon="arrow-left" />
        </nuxt-link>
        <span class="navbar-item">
          Deteksi Mandiri Covid-19
        </span>
      </div>
    </nav>
    <section class="section">
      <div class="columns is-multiline">
        <div class="column is-half is-offset-one-quarter is-full-mobile">
          <form @submit.prevent="checkForm">
            <div v-if="errors.length" class="message is-danger">
              <div class="message-body">
                <b>
                  Harap perbaiki kesalahan pengisian form sesuai saran berikut
                  ini:
                </b>
                <ul>
                  <li v-for="(error, index) in errors" :key="index">
                    {{ error }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-content">
                <p class="has-text-weight-semibold is-size-5">
                  Bagian 1
                </p>
                <br />
                <div class="field">
                  <label class="label">Keluhan (Wajib Diisi)</label>
                  <div class="control">
                    <input
                      v-model="mainMedicalGripe"
                      class="input"
                      type="text"
                    />
                  </div>
                </div>
                <div
                  v-for="symptom of symptoms"
                  :key="symptom.id"
                  class="field"
                >
                  <p class="is-size-5">
                    {{ symptom.question }}
                  </p>
                  <div class="control has-text-right">
                    <label class="radio">
                      <input v-model="symptom.answer" type="radio" value="ya" />
                      Ya
                    </label>
                    <label class="radio">
                      <input
                        v-model="symptom.answer"
                        type="radio"
                        value="tidak"
                      />
                      Tidak
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="card">
              <div class="card-content">
                <p class="has-text-weight-semibold is-size-5">
                  Bagian 2
                </p>
                <br />
                <div
                  v-for="risk_factor of risk_factors"
                  :key="risk_factor.id"
                  class="field"
                >
                  <p class="is-size-5">
                    {{ risk_factor.question }}
                  </p>
                  <div class="control has-text-right">
                    <label class="radio">
                      <input
                        v-model="risk_factor.answer"
                        type="radio"
                        value="ya"
                      />
                      Ya
                    </label>
                    <label class="radio">
                      <input
                        v-model="risk_factor.answer"
                        type="radio"
                        value="tidak"
                      />
                      Tidak
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="notification">
              Dengan ini saya menyatakan bahwa data yang saya isikan adalah
              benar dan saya bersedia mengikuti ketentuan yang berlaku di RS.
              Universitas Islam Indonesia
            </div>
            <div class="field">
              <div class="control">
                <button
                  type="submit"
                  class="button is-medium is-fullwidth is-success"
                  :class="{ 'is-loading': isSubmitLoading }"
                >
                  Cek Status
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Question',
  components: {},

  data() {
    return {
      checkbox: false,
      isSubmitLoading: false,
      selectedDate: null,
      mainMedicalGripe: null,
      errors: [],
      symptoms: [
        {
          id: 1,
          question:
            'Demam / Riwayat Demam dalam 1 minggu terakhir ( \u2265 38 \u2103)',
          answer: null
        },
        {
          id: 2,
          question: 'Riwayat Demam',
          answer: null
        },
        {
          id: 3,
          question: 'Flu/Pilek',
          answer: null
        },
        {
          id: 4,
          question: 'Batuk',
          answer: null
        },
        {
          id: 5,
          question: 'Nyeri tenggorokan/telan',
          answer: null
        },
        {
          id: 6,
          question: 'Sesak',
          answer: null
        }
      ],
      risk_factors: [
        {
          id: 'rf1',
          question: 'Perjalanan ke luar negeri 14 hari terakhir',
          answer: null
        },
        {
          id: 'rf2',
          question: 'Perjalanan ke luar kota 14 hari terakhir',
          answer: null
        },
        {
          id: 'rf3',
          question:
            'Kontak dengan orang dari luar negeri / kota 14 hari terakhir',
          answer: null
        },
        {
          id: 'rf4',
          question:
            'Kontak dengan orang / pasien diduga atau positif COVID-19 dalam 14 hari terakhir',
          answer: null
        },
        {
          id: 'rf5',
          question:
            'Bekerja sebagai tenaga kesehatan atau di fasilitas kesehatan',
          answer: null
        }
      ]
    }
  },
  computed: {
    formatSymptoms() {
      const output = this.symptoms.map(({ id, ...rest }) => rest)
      return output
    },
    formatRiskFactors() {
      const output = this.risk_factors.map(({ id, ...rest }) => rest)
      return output
    }
  },
  created() {
    this.getQuestionnaire()
  },
  methods: {
    saveLsQuestionnaire() {
      localStorage.setItem('symptoms', JSON.stringify(this.symptoms))
      localStorage.setItem('risk_factors', JSON.stringify(this.risk_factors))
      localStorage.setItem('main_gripe', JSON.stringify(this.mainMedicalGripe))
    },
    async submit() {
      try {
        this.isSubmitLoading = true
        this.saveLsQuestionnaire()
        const lsBiodata = JSON.parse(localStorage.getItem('identitas'))
        const identitas = { identitas: lsBiodata }
        const faskes = { faskes_name: 'Rumah Sakit UII', id_faskes: 'rsuii' }

        // informasi klinis
        const generalInformation = {
          keluhan_utama: this.mainMedicalGripe,
          suhu: '',
          tekanan_darah: '',
          nadi: ''
        }
        const symptoms = { gejala: this.formatSymptoms }

        const generalInfoAndSymptoms = Object.assign(
          generalInformation,
          symptoms
        )
        const clinicalInformation = { informasi_klinis: generalInfoAndSymptoms }

        // faktor resiko
        const riskFactors = { faktor_resiko: this.formatRiskFactors }

        // counter
        const symptomLength = this.formatSymptoms.filter(
          (s) => s.answer === 'ya'
        ).length

        const riskFactorsLength = this.formatRiskFactors.filter(
          (t) => t.answer === 'ya'
        ).length

        const counterSymptoms = { counter_gejala: symptomLength }
        const counterRiskFactors = { counter_faktor_resiko: riskFactorsLength }
        const mergeData = Object.assign(
          identitas,
          clinicalInformation,
          riskFactors
        )
        const data = { data: mergeData }
        const payload = Object.assign(
          counterSymptoms,
          counterRiskFactors,
          faskes,
          data
        )

        const api =
          'https://cors.medup.id/https://api-covid19.medup.id/uii/submit'
        const response = await axios({
          method: 'POST',
          url: api,
          headers: {
            'Content-Type': 'application/json'
          },
          data: payload
        })
        localStorage.setItem('summary', JSON.stringify(response.data))
        this.isSubmitLoading = false
        this.$router.push('/summary')
      } catch (error) {
        // eslint-disable-next-line
        console.log(error)
        this.isSubmitLoading = false
      }
    },
    getQuestionnaire() {
      const lsSymptoms = JSON.parse(localStorage.getItem('symptoms'))
      const lsRiskFactors = JSON.parse(localStorage.getItem('risk_factors'))
      const lsMainMedicalGripe = JSON.parse(localStorage.getItem('main_gripe'))
      const lsBiodata = JSON.parse(localStorage.getItem('identitas'))
      if (!lsBiodata) {
        this.$router.push('/biodata')
      }
      if (lsSymptoms && lsRiskFactors && lsMainMedicalGripe) {
        this.symptoms = lsSymptoms
        this.risk_factors = lsRiskFactors
        this.mainMedicalGripe = lsMainMedicalGripe
      }
    },
    danger() {
      this.$buefy.toast.open({
        duration: 3000,
        message: `Terjadi kesalahan pengisian, lihat saran pengisian di bagian atas`,
        position: 'is-bottom',
        type: 'is-danger'
      })
    },
    success() {
      this.$buefy.toast.open({
        message: 'Pengisian form valid',
        type: 'is-success'
      })
    },
    checkForm(e) {
      if (
        this.symptoms[0].answer &&
        this.symptoms[1].answer &&
        this.symptoms[2].answer &&
        this.symptoms[3].answer &&
        this.symptoms[4].answer &&
        this.symptoms[5].answer &&
        this.risk_factors[0].answer &&
        this.risk_factors[1].answer &&
        this.risk_factors[2].answer &&
        this.risk_factors[3].answer &&
        this.risk_factors[4].answer &&
        this.mainMedicalGripe
      ) {
        this.success()
        this.submit()
      }

      this.errors = []

      if (!this.symptoms[0].answer) {
        this.errors.push('Demam/Riw. Demam ( \u2265 38 \u2103) beelum dipilih.')
      }
      if (!this.symptoms[1].answer) {
        this.errors.push('Riwayat Demam belum dipilih.')
      }
      if (!this.symptoms[2].answer) {
        this.errors.push('Flu/Pilek belum dipilih')
      }
      if (!this.symptoms[3].answer) {
        this.errors.push('Batuk belum dipilih')
      }
      if (!this.symptoms[4].answer) {
        this.errors.push('Nyeri tenggorokan/telan belum dipilih')
      }
      if (!this.symptoms[5].answer) {
        this.errors.push('Sesak belum dipilih')
      }
      if (!this.risk_factors[0].answer)
        this.errors.push('Perjalanan ke luar negeri  belum dipilih')
      if (!this.risk_factors[1].answer)
        this.errors.push(
          'Perjalanan ke luar kota atau daerah terjangkit COVID-19 belum dipilih'
        )
      if (!this.risk_factors[2].answer)
        this.errors.push(
          'Kontak dengan orang/pasien yang dari luar negeri atau daerah terjangkit COVID-19 belum dipilih'
        )
      if (!this.risk_factors[3].answer)
        this.errors.push(
          'Kontak dengan orang/pasien yang diduga atau positif COCID-19 belum dipilih'
        )
      if (!this.risk_factors[4].answer)
        this.errors.push('Bekerja sebagai tenaga kesehatan belum dipilih')
      if (!this.mainMedicalGripe) this.errors.push('Keluhan belum dipilih')

      if (this.errors.length) {
        this.danger()
      }

      e.preventDefault()
    }
  },
  head() {
    return {
      title:
        'Kuisioner - Deteksi Mandiri COVID-19 RS Universitas Islam Indonesia',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Deteksi Mandiri COVID-19 RS Universitas Islam Indonesia'
        }
      ]
    }
  }
}
</script>

<style scoped>
.notification {
  background-color: #feecf0;
  color: #cc0f35;
}
</style>
