<template>
  <div>
    <nav
      class="navbar header has-shadow"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <span class="navbar-item">
          Hasil Deteksi Mandiri Covid-19
        </span>
      </div>
    </nav>
    <div class="section">
      <div class="columns is-multiline">
        <div class="column is-half is-offset-one-quarter is-full-mobile">
          <p class="m-20-bottom is-size-4">
            Kesimpulan,
          </p>

          <div class="notification is-light title is-4">
            <p
              v-if="
                summary.kesimpulan ===
                  'Physical Distancing dan jaga pola hidup bersih sehat'
              "
              class="m-20-bottom"
            >
              Anda dipersilahkan menuju Poli yang Anda inginkan.
            </p>
            <p
              v-if="summary.kesimpulan === 'Poli Skrining'"
              class="m-20-bottom"
            >
              Anda dianjurkan untuk menuju Poli Skrining terlebih dahulu.
            </p>
          </div>
          <p class="m-20-bottom">
            Tetap Jaga Kesehatan ya :)
          </p>
          <div class="content">
            <ul>
              <li
                v-for="suggestion in suggestions"
                :key="suggestion.id"
                class="m-20-bottom"
              >
                {{ suggestion.value }}
              </li>
            </ul>
          </div>

          <nuxt-link
            class="button is-medium is-fullwidth is-success"
            to="/download"
          >
            Unduh Hasil Assesment
          </nuxt-link>
          <br />
          <button
            class="button is-medium is-fullwidth is-success is-outlined"
            @click="checkAgain"
          >
            Cek Mandiri Lagi
          </button>
          <br />

          <button class="button is-medium is-fullwidth" @click="backToHome">
            Kembali ke Beranda
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      summary: {},
      suggestions: [
        {
          id: 1,
          value:
            'Terapkan etika batuk atau bersin (dengan menutup mulut dan hidung), dan jangan meludah sembarangan'
        },
        {
          id: 2,
          value: 'Bersihkan benda yang sering disentuh'
        },
        {
          id: 3,
          value:
            'Gunakan masker jika Anda sakit dan segera periksakan diri ke fasilitas kesehatan terdekat'
        },
        {
          id: 4,
          value: 'Cuci tangan dengan sabun'
        },
        {
          id: 5,
          value:
            'Hindari menyentuh mata, hidung, dan mulut dengan tangan yang belum dicuci'
        },
        {
          id: 6,
          value: 'Konsumsi makanan bergizi dan berolahraga'
        }
      ]
    }
  },
  created() {
    this.getLsSummary()
  },
  methods: {
    getLsSummary() {
      this.summary = JSON.parse(localStorage.getItem('summary'))
      if (!this.summary) {
        this.$router.push('/')
      }
    },
    backToHome() {
      localStorage.clear()
      this.$router.push('/')
    },
    checkAgain() {
      localStorage.clear()
      this.$router.push('/biodata')
    }
  },
  head() {
    return {
      title: 'Hasil - Deteksi Mandiri COVID-19 RS Universitas Islam Indonesia',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Deteksi Mandiri COVID-19 RS Universitas Islam Indonesia'
        }
      ]
    }
  }
}
</script>
<style>
.m-20-bottom {
  margin-bottom: 20px;
}
</style>
